.features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}


.bodycontainer {
  display: flex;
  flex-direction: column;  /* Stacks the rows in a single column */
  align-items: center;     /* Centers the rows horizontally within the container */
  padding: 10px;   
}
.imgcontainer {
  padding: 1rem 0;
  position: relative;
  overflow: hidden;
}

.row {
  width: 100%;             /* Makes each row occupy the full width of the container */
  color: white;            /* Optional: text color */
  margin: 10px 0;          /* Optional: space between rows */
  text-align: center;      /* Center the text within the rows */
}
.image {
  max-width: 100%;
  height: auto;
}
