@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
	/*
	Configure your Tailwind theme that will be used by Starlight.
	https://starlight.astro.build/guides/css-and-tailwind/#styling-starlight-with-tailwind
	*/
	
	--color-accent-200: var(--color-orange-400);
	
}

/*
Add additional Tailwind styles to this file:
https://tailwindcss.com/docs/adding-custom-styles#using-custom-css
*/

/*:root {
  --sl-color-text-invert: white;
  --sl-color-text-accent: var(--color-orange-400);
}*/

@layer components {
	/* Site title styles */
	.site-title img {
		@apply w-16 h-auto;
	}
	.site-title span {
		@apply dark:text-white hover:text-orange-400 transition-colors;
	}

	/* Sidebar content - Invert text color */
	.sidebar-content {
		--sl-color-text-invert: var(--color-white);
	}

	/* Primary button (Get started) - Orange */
	.sl-link-button.primary {
    	@apply font-bold text-white border-orange-600
           bg-gradient-to-b from-orange-600 to-orange-400;
  	}
	.sl-link-button.primary:hover {
		@apply border-orange-500
			bg-gradient-to-b from-orange-500 to-orange-300;
	}

	/* Secondary button */
	.sl-link-button.secondary {
		@apply font-bold;
	}
	.sl-link-button.secondary:hover {
		@apply bg-gray-700;
	}

	/* Social icons */
	.social-icons a{
		@apply text-white
	}
	.social-icons::after {
		@apply border-none 
	}

	/* Markdown links */
	.sl-markdown-content a:not(.not-content) {
		@apply text-orange-400 hover:text-orange-300 no-underline;
	}

	/* VSCode button */
	.vs-button svg {
		@apply text-[#007ACC]
	}
}

