---
import Default from '@astrojs/starlight/components/Footer.astro';

const isHomepage = Astro.locals.starlightRoute.id === '';
---

{
    isHomepage ? (
        <footer class="custom-footer text-center font-bold">
            <p class="mb-2 text-sm text-gray-400">
                Built with ❤️ in this chaotic world<br>Copyright © {new Date().getFullYear()}
                <a href="https://github.com/shinobi-c0de" target="_blank"> Shinobi Code</a>
            </p>
        </footer>
        <style>
            .custom-footer {
                text-align: center;
            }
            
            .custom-footer a {
                text-decoration: none;
                color: inherit;
            }
            .custom-footer a:hover {
                color: var(--sl-color-text);
            }
        </style>

    ) : (
        <Default>
            <slot />
        </Default>
  )
}