:root {
    /* Modify theme color */
    --rp-c-brand: #ff7f00;
    --rp-c-brand-dark: #ffa500;
    --rp-c-brand-darker: #c26c1d;
    --rp-c-brand-light: #f2a65a;
    --rp-c-brand-lighter: #f2a65a;

    --rp-home-hero-name-background: -webkit-linear-gradient(45deg, #FF9900 0%, #FF7F00 50%, #FF5500 100%);
    --rp-home-mask-background-image: conic-gradient(
      from 45deg,
      #FF9900 0deg,
      #FF7F00 120deg,
      #FF5500 240deg
    );
    /* Modify the width of the left sidebar */
    --rp-sidebar-width: 280px;
    /* Modify the width of the right outline column */
    --rp-aside-width: 256px;
    /* Modify the background of the code block title */
    --rp-code-title-bg: rgba(250, 192, 61, 0.15);
    /* Modify the background of the code block content */
    --rp-code-block-bg: rgba(214, 188, 70, 0.05);
  }

.navBarTitle {
  color: #c26c1d !important;
}
.tagline {
  line-height: 1.5rem;
}

.custom-button {
  min-width: 100px;
  height: 42px;
  font-size: 14px;
  line-height: 42px;
  padding: 0 20px;
}

.vs-button {
  min-width: 100px;
  height: 42px;
  font-size: 14px;
  line-height: 42px;
  padding: 0 20px;
}

.vscode {
  display: flex;
  align-items: center;
}
.vscode img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  cursor: pointer;
}